veritabani.txt
dokumanlar/*!dokumanlar/dosya1.html



[A[A[A[A[A[A[A[B[B


















[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[Aclear
veritabani

















veritabani.txt
